Uvod

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
filename = "020/profiles.csv"
profiles = pd.read_csv(filename, sep='\t', index_col=0)
profiles.head()

,sex,job,blood_group,name,race,address,birthdate,current_location,ssn
0,M,Secretary/administrator,O+,Colton Garcia,Hawaiian,"222 Smith Shoals\nOrtegaland, NM 25312",1990-04-02,"(Decimal('81.068645'), Decimal('-61.887841'))",224-40-1972
1,M,Hydrogeologist,AB+,James Gray,Hawaiian,"755 Graham Lake\nValdezfurt, IN 21739","03/25/1926, 00:00:00","(Decimal('-5.4110755'), Decimal('-172.109419'))",351-11-1730
2,M,Tourism officer,AB-,Franklin Moore,White,"42832 Patrick Island\nEast Bradton, DE 36334","05/06/1958, 00:00:00","(Decimal('-88.540956'), Decimal('-94.396339'))",824-41-6795
3,F,Social worker,A+,Jennifer Anderson,White,Unit 8158 Box 0225\nDPO AP 69059,1908-06-07,"(Decimal('85.9643255'), Decimal('-165.105180'))",077-59-6064
4,F,Naval architect,A+,Carrie Wilson,Black,"0994 Daniel Park Apt. 137\nWest Melinda, KS 34770",13 Jan 1974,"(Decimal('-27.169289'), Decimal('96.479444'))",004-15-9553

In [24]:
filename2 = "020/labor.csv"
labor = pd.read_csv(filename2, sep='\t', index_col=0)
labor.head()

,er-cv,name,indicator,leukocyty,weight,ssn,relationship,etytr,smoker,erytrocyty,trombocyty,hemoglobin,ast,alp,alt,hematokrit,hbver
0,43.09887,Devin Diaz,1.0,4.47526,65.57593,597-97-9078,single,5.96219,no,6.20665,5.71427,5.06667,57.92930,57.60257,5.12934,7.11081,6.32708
1,32.51734,Theodore Morris,1.0,4.41339,58.47779,100-19-5038,divoced,5.44840,no,5.58217,6.29619,6.90945,61.47846,83.38342,10.59365,8.52324,9.06429
2,54.39106,Ashley Mccormick,1.0,4.71119,37.58396,241-30-2551,widowed,6.75478,Y,6.36030,6.67129,4.08668,59.37033,31.60935,10.72644,8.41874,7.11435
3,45.79943,Brent Howard,1.0,5.38079,88.06628,667-52-4116,married,6.33099,no,5.45784,6.24957,5.57164,50.31551,75.29715,9.26557,4.69702,7.00724
4,48.81261,Paul Jordan,0.0,4.72469,44.59816,368-59-5827,divoced,6.62153,no,6.36262,6.44608,6.49617,50.44424,84.90135,9.31196,6.31221,8.54503

In [23]:
profiles.shape

(3112, 9)

In [4]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3112 entries, 0 to 3111
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   sex               3112 non-null   object
 1   job               3112 non-null   object
 2   blood_group       3112 non-null   object
 3   name              3112 non-null   object
 4   race              3112 non-null   object
 5   address           3112 non-null   object
 6   birthdate         3112 non-null   object
 7   current_location  3112 non-null   object
 8   ssn               3112 non-null   object
dtypes: object(9)
memory usage: 243.1+ KB

In [5]:
profiles.blood_group.unique()

array(['O+', 'AB+', 'AB-', 'A+', 'B-', 'O-', 'B+', 'A-'], dtype=object)

In [6]:
profiles.race.unique()

array(['Hawaiian', 'White', 'Black', 'Asian', 'Indian', 'black', 'blsck',
       'white'], dtype=object)

In [7]:
profiles.sex.unique()

array(['M', 'F'], dtype=object)

In [22]:
labor.shape

(9987, 17)

In [8]:
labor.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9987 entries, 0 to 9986
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   er-cv         9957 non-null   float64
 1   name          9987 non-null   object
 2   indicator     9987 non-null   float64
 3   leukocyty     9957 non-null   float64
 4   weight        9987 non-null   float64
 5   ssn           9987 non-null   object
 6   relationship  9987 non-null   object
 7   etytr         9957 non-null   float64
 8   smoker        9987 non-null   object
 9   erytrocyty    9957 non-null   float64
 10  trombocyty    9957 non-null   float64
 11  hemoglobin    9957 non-null   float64
 12  ast           9957 non-null   float64
 13  alp           9956 non-null   float64
 14  alt           9957 non-null   float64
 15  hematokrit    9957 non-null   float64
 16  hbver         9956 non-null   float64
dtypes: float64(13), object(4)
memory usage: 1.4+ MB

In [9]:
labor.describe()

,er-cv,indicator,leukocyty,weight,etytr,erytrocyty,trombocyty,hemoglobin,ast,alp,alt,hematokrit,hbver
count,9957.000000,9987.000000,9957.000000,9987.000000,9957.000000,9957.000000,9957.000000,9957.000000,9957.000000,9956.000000,9957.000000,9957.000000,9956.000000
mean,48.425748,0.643036,6.649040,69.606618,6.193915,6.236316,6.213423,5.421372,49.469559,55.509917,11.496663,6.633143,7.397443
std,13.726128,0.479128,1.566503,34.914156,0.997552,0.992777,0.980931,1.620002,13.796167,27.049256,5.958054,1.755006,1.149620
min,0.000000,0.000000,2.217920,-77.211600,2.278160,2.370300,2.243970,0.707220,0.000000,0.000000,0.000000,0.000000,2.330940
25%,39.104980,0.000000,5.197150,45.966525,5.522740,5.567770,5.560160,4.344490,40.141510,30.777518,8.202420,5.517100,6.677130
50%,48.429690,1.000000,6.602370,69.283390,6.179510,6.228810,6.211510,5.254600,49.560750,59.361045,10.461270,6.849510,7.392865
75%,57.726030,1.000000,7.861560,93.614410,6.868990,6.900100,6.877920,6.301200,58.766980,80.739665,13.165980,7.869410,8.118615
max,100.000000,1.000000,12.131510,211.399600,9.707420,9.859350,9.527610,13.310770,100.000000,100.000000,100.000000,12.580070,12.383660

In [25]:
labor.smoker.unique()

array(['no', 'Y', 'N', 'yes'], dtype=object)

In [11]:
labor.relationship.unique()

array(['single', 'divoced', 'widowed', 'married', 'separated', 'nop'],
      dtype=object)

In [12]:
profiles.count()

sex                 3112
job                 3112
blood_group         3112
name                3112
race                3112
address             3112
birthdate           3112
current_location    3112
ssn                 3112
dtype: int64

In [13]:
labor.count()

er-cv           9957
name            9987
indicator       9987
leukocyty       9957
weight          9987
ssn             9987
relationship    9987
etytr           9957
smoker          9987
erytrocyty      9957
trombocyty      9957
hemoglobin      9957
ast             9957
alp             9956
alt             9957
hematokrit      9957
hbver           9956
dtype: int64

In [14]:
len(labor)

9987

In [15]:
len(profiles)

3112

In [26]:
labor['smoker'].value_counts()

no     5460
yes    2039
Y      1985
N       503
Name: smoker, dtype: int64

In [27]:
labor.loc[labor['smoker'] == 'yes', 'smoker']='Y'

In [28]:
labor.loc[labor['smoker'] == 'no', 'smoker']='N'

In [29]:
labor.smoker.unique()

array(['N', 'Y'], dtype=object)

In [31]:
labor['smoker'].value_counts()

N    5963
Y    4024
Name: smoker, dtype: int64