In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
labor_train = pd.read_csv('train_preprocessed.csv', sep='\t', index_col=0)
labor_test = pd.read_csv('test_preprocessed.csv', sep='\t', index_col=0)

In [3]:
labor_train.head()

,indicator,er-cv,leukocyty,trombocyty,hemoglobin,ast,hematokrit
0,1.0,0.166667,0.401497,0.551966,0.742755,0.111111,0.322113
1,0.0,0.405000,0.525788,0.850466,0.096399,0.467167,0.767291
2,1.0,0.166667,0.812344,0.127427,0.278961,0.111111,0.213721
3,0.0,0.698214,0.787698,0.455711,0.888889,0.422187,0.512109
4,0.0,0.408464,0.944378,0.369594,0.128604,0.111111,0.255717

In [4]:
labor_test.describe()

,indicator,er-cv,leukocyty,trombocyty,hemoglobin,ast,hematokrit
count,2472.000000,2472.000000,2472.000000,2472.000000,2472.000000,2472.000000,2472.000000
mean,0.634304,0.493736,0.502336,0.499681,0.498993,0.500286,0.504455
std,0.481722,0.280514,0.282626,0.283822,0.287940,0.284910,0.283972
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.166667,0.246513,0.253332,0.251220,0.252247,0.251754
50%,1.000000,0.501564,0.508227,0.501003,0.500447,0.500071,0.502172
75%,1.000000,0.833333,0.748037,0.749898,0.744506,0.750488,0.742400
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

1. Leukocyty
2. Hematokrit
3. Hemoglobin
4. Er-cv
5. Trombocyty
6. Ast

In [5]:
# def one_r(df, atributes, new):
#     print(df)
#     atribute = atributes[0]
#     i = 0
#     while i < 1:
#         if i <= new[atribute] < i+.1:
#             atributes.remove(atribute)
#             df = df.loc[(i <= df[atribute]) & (df[atribute] < i+.1), atributes]
#             atribute = atributes[0]
#             if not (df.loc[(i <= df[atribute]) & (df[atribute] < i+.1), atributes].empty):
#                 one_r(df, atributes, new)
#             else:
#                 print('I AM EMPTY')
#                 break
#         i += .1

In [6]:
# target = {
#     'leukocyty': 0.41,
#     'hematokrit': 0.21,
#     'hemoglobin': 0.98,
#     'er-cv': 0.54,
#     'trombocyty': 0.78,
#     'ast': 0.11
# }
# one_r(labor_train, ['leukocyty', 'hematokrit', 'hemoglobin', 'er-cv', 'trombocyty', 'ast', 'indicator'], target)

In [7]:
labor_train.loc[labor_train['indicator'] == 1, ['leukocyty', 'indicator']]

      leukocyty  indicator
0      0.401497        1.0
2      0.812344        1.0
6      0.492593        1.0
7      0.777968        1.0
8      0.276428        1.0
...         ...        ...
7410   0.614988        1.0
7412   0.341716        1.0
7413   0.511191        1.0
7414   0.587366        1.0
7415   0.267803        1.0

[4789 rows x 2 columns]

In [8]:
df = labor_test.loc[(0.1 <= labor_test['leukocyty']) & (labor_test['leukocyty'] < 0.2), ['leukocyty', 'indicator']]
df

      leukocyty  indicator
0      0.100535        1.0
24     0.120866        1.0
37     0.112605        1.0
40     0.175135        1.0
48     0.148311        1.0
...         ...        ...
2436   0.192045        1.0
2451   0.162042        1.0
2452   0.105463        1.0
2464   0.105834        1.0
2471   0.111655        1.0

[299 rows x 2 columns]

In [48]:
def one_r(df, df_train, atributes):
    arr_accuracy = [0] * len(atributes)
    arr_all = []
    for index, atribute in enumerate(atributes):
        arr = [0]*10
        accuracy = 0
        for i, row in df.iterrows():
            for j in range(10):
                if j/10 <= row[atribute] < (j+1)/10:
                    if row["indicator"] == 1:
                        arr[j] += 1
                    else:
                        arr[j] -= 1
        for i, row in df_train.iterrows():
            for j in range(10):
                if j/10 <= row[atribute] < (j+1)/10:
                    if arr[j] > 0:
                        if row['indicator'] == 1:
                            accuracy += 1
                        else:
                            accuracy -= 1
                    else:
                        if row['indicator'] == 0:
                            accuracy += 1
                        else:
                            accuracy -= 1
        print(arr)
        print(f"accuracy: {accuracy}")
        arr_all.append(arr.copy())
        arr_accuracy[index] = accuracy
        print()
    return (atributes[arr_accuracy.index(max(arr_accuracy))], arr_all[arr_accuracy.index(max(arr_accuracy))])


def use_one_r(df, new, target_atribute, result):
    for j in range(10):
        if j/10 <= new[target_atribute] < (j+1)/10:
            if result[j] > 0:
                return 1
            else:
                return 0

In [49]:
new = {
    'leukocyty': 0.41,
    'hematokrit': 0.21,
    'hemoglobin': 0.51,
    'er-cv': 0.54,
    'trombocyty': 0.78,
    'ast': 0.11
}
target_atribute, target_arr = one_r(labor_train, labor_train, ['leukocyty', 'hematokrit', 'hemoglobin', 'er-cv', 'trombocyty', 'ast'])
print(use_one_r(labor_train, new, target_atribute, target_arr))

[490, 753, 661, 385, 2, -63, -40, -38, -44, 55]
accuracy: 2531

[237, 1040, 406, 283, 110, 35, 1, 12, -10, 47]
accuracy: 2181

[355, 396, 378, 375, 383, 323, 273, 196, -427, -91]
accuracy: 3197

[139, 468, 77, 194, 194, 260, 178, 99, 457, 97]
accuracy: 2163

[235, 255, 210, 176, 238, 212, 238, 238, 183, 178]
accuracy: 2163

[0, 407, 168, 217, 238, 243, 225, 182, 451, 30]
accuracy: 2161

0

In [ ]:
new = {
    'leukocyty': 0.41,
    'hematokrit': 0.21,
    'hemoglobin': 0.98,
    'er-cv': 0.54,
    'trombocyty': 0.78,
    'ast': 0.11
}